/* CategoryForm.css */
.category-form-container {
     margin-top: 20px;
}

.category-form-container form {
     display: flex;
     flex-direction: column;
}

.category-form-container h3 {
     color: #333;
     margin-bottom: 10px;
}

.category-form-container label {
     margin-bottom: 8px;
}

.category-form-container input,
.category-form-container textarea {
     padding: 10px;
     margin-bottom: 15px;
}

.category-form-container button {
     padding: 10px;
     background-color: #007bff;
     color: #fff;
     border: none;
     cursor: pointer;
}

.category-form-container button:hover {
     background-color: #0056b3;
}
